@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Please Log In</h1>
    <p>You need to log in with your Azure AD account to access this application.</p>
    <a class="btn btn-primary" href="~/Account/SignIn">Log In with Azure AD</a>
</div>